*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Vazirmatn", sans-serif;
    font-weight: 700;
}

body {
    
    background-color: black;
}

/* ----- Styling the navnar ----- */
.head-container{
    background-color: black;
    height: 100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

/* ---  styling the navbar---- */
.ul-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    color: red;
    list-style: none;
}

/* -----Styleing for nav bar----- */
 .ul-container li a{
    text-decoration: none;
    color: red;
    /* display: inline-block; */
 }


 li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background-color: red;
    transition: all 0.5s;
 }

 li a:hover::after{
    width: 100%;
 }

 /* -----fixing the picture for section---- */
 .billiard-pic{
    height: 1512px;
    height: 413px;
    background-image: url(images/billiard-table.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
 }

 .sec-container{
     height: 1512px;
    height: 413px;
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 6rem;
 }

   .h1-sec{
    font-size: 4rem;
     color: white;
     text-align: center;
  }

  /* ----- btn of the section----- */
  .btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .list-btn{
   background-color: black;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
    color: white;
    width: 215px;
    height: 60px;
    border: 2px solid #CA0000;
    border-radius: 10px;
    font-size: large;
    font-weight: 700;
  }

  /* ----- styling the btn of the ----- */

  .active{
   background-color: #CA0000;
  }

  .list-btn:hover{
   background-color: #CA0000;
  }


  /* ----- CONTENT OF GAME PART */
  .game-container{
     display: grid;
     justify-content: center;
     align-items: center;
  }

  .game-header{
   margin-top: 60px;
   text-align: center;
   color: white;
  }

  .player-container {
   margin-top: 50px;
   display: flex;
   justify-content: center;
   justify-items: center;
   align-items: center;
   gap: 4rem;
  }

  /* ---- Counter ----- */
  .h2-count{
   color: white;
   font-weight: 900;
  }

  .count-point{
   border: 1px solid #CA0000;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   padding: 6px;
   border-radius: 5px;
}

  .count-point .h2-count + .h2-count {
   border-left: 1px solid #CA0000;
   padding-left: 1rem; /* space between the line and the number */
   margin-left: 0;     /* remove this - gap already handles the spacing */
}


/* ----- Plyaer1 ----- */
.player-one-container{
   display: grid;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}
.box-player-one{
   position: relative;
   border: 1px solid #CA0000;
   width: 150px;
   height: 91px;
   border-radius: 10px;
}

.player-one-img{ 
   position: absolute;
   top: -34px;    /* Position outside top border */
   left: 50%;     /* Center horizontally */
   transform: translateX(-50%);
}

.player-one-name{
   color: white;
   font-weight: 900;
   text-align: center;
}

/* ----- Player2 ----- */
.player-two-container{
   display: grid;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}


.box-player-two{
   position: relative;
   border: 1px solid #CA0000;
   width: 150px;
   height: 91px;
   border-radius: 10px;
}


.player-two-img{ 
   position: absolute;
   height: 129px;
   top: -40px;    /* Position outside top border */
   left: 50%;     /* Center horizontally */
   transform: translateX(-50%);
}

.player-two-name{
   color: white;
   font-weight: 900;
   text-align: center;
}


/* ----- STYLING THE DATE PART */
.match-date{
   margin-top: 30px;
   display: grid;
   justify-content: center;
   align-items: center;
   gap:0.2rem;

}

.match-date p{
   text-align: center;
   color: white;
   font-weight: 700;
}

.game-live-btn{
   width: 126px;
   height: 38px;
   border: 2px solid #CA0000;
   border-radius: 7px;
   background-color: #CA0000;
   text-align: center;
   text-decoration: none;
   color: white;
   font-weight: 900;
}


.hr-break{
   margin-top: 40px;
   color: #CA0000;
   border: 1px solid;
}



/* ------ FOOTER ----- */
.footer-style{
   width: auto;
   background-color:#222128;
   direction: rtl;
}

.footer-container{
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 4rem;
}

.footer-communication h1{
   text-align: center;
   color: white;
   font-weight: 900;
}

.icon-container{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

/* ----FOOTER-LINKS ----- */
.footer-link{
   padding: 50px;
}
.footer-link h1{
   text-align: center;
   color: white;
}

.links-footer-container {
   display: grid;
   justify-content: start;
   align-items: center;
}

.links-footer-container a{
   font-weight: 500;
   text-decoration: none;
   color: white;
   size: 24px;
   font-size: large;
}


/* ----- CONTANCT FOOTER ----- */
.footer-contact h1{
   text-align: center;
   color: white;
}

.call-container{
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 0.2rem;
}

.call-container h3{
   text-align: center;
   color: white;
}

.address-container{
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 0.2rem;
}

.address-container h3{
   text-align: start;
   color: white;
}

.copy-right-container{
   padding: 20px;
   text-align: center;
   background-color: black;
}


.copy-right-container h2{
   text-align: center;
   color: white;
}

.copy-right-container span{
   color: #CA0000;
}


/* ----- Ranking Part ----- */

/* ----- CHART OF THE RANK PLAYER */
.ranking-container{
   display: grid;
   justify-content: start; /* Changed from space-arounds */
   align-items: center;
   gap: 2rem;
   margin: 80px;
}
.rank-player-container{
   display: grid;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   flex: 1; 
   text-align: center; 
}
.rank-player-container h1{
   text-align: center;
   color: white;
   font-weight: 900;
   font-size: 48px; 
}
.img-container {
   position: absolute;
   top: 486px;
   left: -65px;
   width: 584px;
   height: 657px;
   opacity: 1;
}

.img-container img {
   width: 100%;
   height: 100%;
   object-fit: contain; /* Keeps image proportions */
}

/* background ranking plyer */
.bg-ranking-player{
   display: flex;
   justify-content: start;
   justify-items: center;
   align-items: center;
   gap: 2rem;
   width: 901px;
   height: 159px;
   border-radius: 20px;
   background-color: #FFFB00;
}

/* ----- Position Of Place Mumber ----- */
.bg-ranking-player h1{
   text-align: center;
   margin-right: 30px;
}

.ranking-player-container{
   display: flex;
   justify-content: space-between;
   align-items:center ;
   width: 843px;
   height: 159px;
   border: 3px solid #FFFB00;
   border-radius: 20px 0 0 20px ;
   background-color: white;
}

/* ----- postion of the name of the player -----*/
.player-name{
   display: flex;
   flex: 1;
   justify-content: center;
   align-items: center;
}
.player-name h2{
   text-align: center;
   font-weight: 600;
   font-size: 48px;
}

/* ----- Position of the player img -----*/
.ranking-player-img{
   position: relative;
   top: -40px;
}



/* ----- Player 2 in Second place */

.bg-ranking-second-player{
   display: flex;
   justify-content: start;
   justify-items: center;
   align-items: center;
   gap: 2rem;
   width: 901px;
   height: 106px;
   border-radius: 20px;
   background-color: #939393;
}

.bg-ranking-second-player h1{
   text-align: center;
   margin-right: 30px ;
}

.ranking-second-place-container{
   display: flex;
   justify-content: space-between;
   align-items:center ;
   width: 843px;
   height: 106px;
   border: 3px solid #939393;
   border-radius: 20px 0 0 20px ;
   background-color: white;
}

.player-second-place-name{
   display: flex;
   flex: 1;
   justify-content: center;
   align-items: center;
}

.player-second-place-name h2{
   text-align: center;
   font-weight: 600;
   font-size: 32px;
}

.ranking-second-player-img{
   position: relative;
   width: 76px;
   height: 98;
   top: 1px;
   left: -8%;
}


/* ------ Stulying the third place ranking ----- */

/* ----- Background of the third place */

.bg-ranking-third-player{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap :2rem;
   width: 901px;
   height: 106px;
   background-color: #E06100;
   border-radius: 20px;
}

.bg-ranking-third-player h1{
   text-align: center;
   font-weight: 900;
   margin-right: 30px ;
}


.ranking-third-place-player{
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 2rem;
   width: 843px;
   height: 106px;
   background-color: white;
   border: 3px solid #E06100;
   border-radius: 20px 0 0 20px;
}

.player-third-place-name{
   display: flex;
   flex: 1;
   justify-content: center;
   align-items: center;
}

.player-third-place-name h2{
    text-align: center;
   font-weight: 600;
   font-size: 32px;
}

.ranking-third-place-player-img{
  position: relative;
   width: 76px;
   height: 98px;
   top: 1px;
   left: -8%;
}


/* ----- Background of the players after 3rd place */
.bg-ranking-normal-place{
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 2rem;
   width: 901px;
   height: 106px;
   background-color: #ca0000;
   border-radius: 20px;
}

.bg-ranking-normal-place h1{
    text-align: center;
   font-weight: 900;
   font-size: 40px;
   margin-right: 32px;
}

.ranking-normal-place-player{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 843px;
   height: 106px;
   background-color: white;
   border: 3px solid #ca0000;
   border-radius: 20px 0 0 20px;
}

.player-normal-place-name{
   display: flex;
   flex: 1;
   justify-content: center;
   align-items: center;
}

.ranking-normal-place-player-img{
  position: relative;
   top:7px;
   left: -8%;
}

.player--place-name h2{
    text-align: center;
   font-weight: 600;
   font-size: 32px;
}


/* ---- This styling for the after 10th place */
.bg-ranking-after-ten-place{
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 1rem;
   width: 901px;
   height: 106px;
   background-color: #4e9fa0;
   border-radius: 20px;
}

.bg-ranking-after-ten-place h1{
    text-align: center;
   font-weight: 900;
   font-size: 40px;
   margin-right: 23px;
}



.ranking-after-ten-place-player{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 843px;
   height: 106px;
   background-color: white;
   border: 3px solid #4e9fa0;
   border-radius: 20px 0 0 20px;
}


.changer-container{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

.changer-container h1{
   text-align: center;
   color: white;
}



/* ----- styling the btn of the changing the pages */
.btn-page{
   background: none;
   border: none;
   width: 30px;
   height: 39px;
   border: 40px;
   cursor: pointer;
}



/* ----- CHART PART ----- */

.chart-container{
   margin: 20px; /* Added to make absolute positioning work relative to container */
}

.chart-header h1{
   text-align: center;
   font-weight: 900;
   color: white;
   font-size: 40px;
   margin-right: 100px;
}


/* ----- Fix the position of the pictures ----- */
.chart-img{
   position: absolute;
   width: 921px;
   height: 711px;
   top: 515px;
   left: 999px; 
   opacity: 1;
}

.chart-img img{
   width: 100%;
   height: 100%;/* Maintains aspect ratio */
}


.chart-competition{
   margin-top: 30px;
   margin-right: 100pxs;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}


/* From Uiverse.io by CristianMontoya98 */ 
/* Styling the btn of the chart-btn */
.chart-btn {
   width: 186.03px;
   height: 65.53px;
   margin: 0.5em;
   background: black;
   color: white;
   border: 1px solid white;
   border-radius: 0.625em;
   cursor: pointer;
   position: relative;
   z-index: 1;
   overflow: hidden;
}

.chart-btn:hover {
   color: white;
   border: 1px solid #CA0000;
}

.chart-btn:after {
   content: "";
   background: #CA0000;
   position: absolute;
   z-index: -1;
   left: -20%;
   right: -20%;
   top: 0;
   bottom: 0;
   transform: skewX(-45deg) scale(0, 1);
   transition: all 0.5s;
}

.chart-btn:hover:after {
   transform: skewX(-45deg) scale(1, 1);
   -webkit-transition: all 0.5s;
   transition: all 0.5s;
}

.chart-btn h3{
   font-weight: 600;
   font-size: 24px;
   color: white;
   text-align: center;
}


/* ----- styling the chart for the competitions ----- */
.tournament-bracket {
   display: flex;
   justify-content:center;
   align-items: center;
   gap: 7rem;
   direction: rtl;
   margin-top: 35px;
   margin-right: 20px;
}

.bracket-items{
   display: grid;
   justify-content: center;
   justify-items: center;
   align-items: center;
   gap: 3rem;
}

   .group-name{
   width: 142.45px;
   height: 77.09px;
   font-weight: 600;
   font-size: 20px;
   border: 1px solid #FFFF;
   border-radius: 11px;
   background-color: #0000;
   cursor: pointer;  
}

.winner{
   background-color: #CA0000;
   border: 1px solid #CA0000;
}

.group-items {
   color: white;
   text-align: center;
   margin-top: 20px; 
}

      /* ----- Styling the part of the final -----*/

.bracket-items-final{
         display: grid;
         justify-content: center;
         justify-items: center;
         align-items: center;
         gap: 11rem;
}

/* ----- styling the connector line ----- */

/* ----- line for normal one ----- */
.connector-line{
   width: 105px;
   height: 0;
   border:2px solid #FFFF;
   margin-right: 141px;
   margin-top: -20px;
}

.connector-line-up{
   width: 0;
   height: 62px;
   margin-right: 242px;
   margin-top: -65px;
   border: 2px solid #FFFF;
}

.connector-line-center{
   width: 18px;
   height: 0;
   border: 2px solid #CA0000;
   margin-right: 242px;
}
.connector-line-down{
   width: 0;
   height: 62px;
   margin-right: 242px;
   margin-top: -1px;
   border: 2px solid #FFFF;
}

.connector-line-winner-down{
   width: 0;
   height: 62px;
   margin-right: 242px;
   border: 2px solid #CA0000;
}

.connector-line-winner{
   width: 105px;
   height: 0;
   border: 2px solid #CA0000;
   margin-right: 141px;
   margin-top: -19px;
}

.connector-line-winner-up{
   width: 0;
   height: 62px;
   margin-right: 242px;
   border: 2px solid #CA0000;
   margin-top: -66px;
}


